body{
    background-color: lightblue;
}

.color-burly{
    background-color: burlywood;
}
.titleChange{
    position: relative;
    right: -50px;
    font-size: 40px;
    text-align: center !important;
    font-family: "Times New Roman", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 28%;
}

.moveFileIO{
    position: relative;
    right: -65px;
    font-size: 40px;
    text-align: center;
    font-family: "Times New Roman", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 25px;
}

.projects{
    position: relative;
    font-size: 30px;
    right:-680px;
    
}

.projectList{
    position: relative;
    font-size: 18px;
    right:-630px;
}

.overall{
    margin: auto;
    width: 125%;
    text-align: center;
    border: 5px solid burlywood;
    padding: 10px;
    
}
.moveBox{
    position: relative;
    right: -20px;
}
.codeLink{
    margin: auto;
    width: 10%;
    text-align: center;
    border: 5px solid burlywood;
    
}

.reflectionHeading{
    font-size: 20px;
}

.moveLinks{
    position: relative;
    top: 15px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #86bab8;
    text-align: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: burlywood;
}
.center-nav{
    padding-left: 20%;
}